@tailwind base;
@tailwind components;
@tailwind utilities;

#fade-in-image { animation: fadeIn 3s; }

@keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
}

#tabela, .username-text, .password-text, .botao, a .botao {
    border: 3px groove green;
}

.checkpass, .check2 {
    border: 2px groove green;
}

.botao, a .botao, .checkpass {
    transition: all ease-in-out 4ms;
    -webkit-transition: all ease-in-out 4ms;
    -moz-transition: all ease-in-out 4ms;
    -ms-transition: all ease-in-out 4ms;
    -o-transition: all ease-in-out 4ms;
}

.botao:hover {
    color: black;
    background-color: rgba(0, 128, 0, 0.87);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}